.box {
  border: 1px solid black;
  height: 10px;
  width: 10px;
  float: left;
}

.box:hover {
  background-color: darkslategrey;
}

.colorBox {
  border: 2px solid black;
  height: 20px;
  width: 20px;
  float: left;
  border-radius: 35px;
}

body {
  background: linear-gradient(teal, yellow);
}

h1 {
  color: black;
  font-size: 24pt;
  text-align: center;
  font-weight: bold;
}

.container {
  margin: auto;
  height: 600px;
  width: 900px;
  border: solid black 3px;
  background-color: white;
}

.colors {
  margin: auto;
  height: 20px;
  width: 240px;
  margin-bottom: 10px;
}

.selector {
  width: 100px;
  margin: auto;
  text-align: center;

}
