.box {
  border: 1px solid silver;
  height: 10px;
  width: 10px;
  float: left;
}

.box:hover {
  background-color: darkslategrey;
}

body {
  background-image: url('mariowallpaper.jpg')
  /*background: linear-gradient(teal, yellow, teal);
  background-attachment: fixed;*/
}

h1 {
  color: black;
  font-size: 28pt;
  text-align: center;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
}

.container {
  margin: auto;
  height: 600px;
  width: 900px;
  border: solid black 3px;
  background-color: white;
}

.colors {
  margin: auto;
  height: 20px;
  width: 240px;
  margin-bottom: 10px;
}

.colorBox {
  border: 2px solid black;
  height: 20px;
  width: 20px;
  float: left;
  border-radius: 35px;
}
